<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-7 col-lg-offset-3 lead text-center" width="50%">
      <br/>
      <img class="img-responsive center-block" src="img/filip.jpg" height="15%" width="25%" alt="">
      <h2>About Me</h2>
      <br/>
      <p>Hello, I'm Filip Francetic, a student at the University of Waterloo.</p>

      <p>I enjoy all forms of development, just keep me away from CSS.</p>

      <p>I have experience doing various forms of fullstack development, from frontend focused JavaScript development to more backend focused development.</p>
    </div>
  </div>
</section>
<hr/>
